.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.filter-button {
    margin-left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 3px solid white;
    width: 125px;
    height: 35px;
    background-color: rgb(50, 19, 122);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Red Hat Display", "sans-serif";
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
}

.filter-button.open {
    width: 350px;
    height: 200px;
    opacity: 0;
    pointer-events: none;
}

.filter-icon {
    font-size: 24px;
    color: white;
    margin-right: 0.25rem;
}

.name {
    margin-left: 0.25rem;
    font-size: 14px;
}

.dropdown {
    width: 350px;
    height: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    top: 0;
    left: 0;
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgb(50, 19, 122);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    padding: 0.5rem;
}

.dropdown.open {
    opacity: 1;
    pointer-events: auto;
}

.content-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.close-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 20px;
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

.close-icon:hover {
    color: lightblue;
}

.filter {
    margin: 1rem;
}

.reset {
    min-width: 50px;
    width: 15%;
    max-width: 75px;
    height: 35px;
    border-radius: 25px;
    background-color: darkorange;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    font-family: "Red Hat Display", "sans-serif";
    align-self: flex-end;
}

