.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.inner-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button, .invalid-button {
    margin: 1rem;
    min-width: 65px;
    width: 10%;
    max-width: 100px;
    height: 40px;
    border-radius: 20px;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
}

.button {
    background-color: rgb(50, 19, 122);
    border: 2px solid white;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(19, 1, 59);
}

.invalid-button {
    background-color: lightgray;
    border: 2px solid lightgray;
    cursor: auto;
}

.notice {
    margin-right: 1rem;
    color: rgb(50, 19, 122);
    font-size: 14px;
    font-family: "Red Hat Display", "sans-serif";
    font-weight: bold;
    text-align: center;
}

.captcha {
    color: gray;
    margin: 1rem;
    
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Red Hat Display", "sans-serif";
    font-weight: bold;
    text-align: center;
    min-height: 150px;
    height: 20vh;
}

.modal-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", "sans-serif";
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.text-rest {
    font-size: 20px;
}

.text, .icon {
    font-size: 48px;
}

.text {
    margin: 0 0.5rem;
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: 36px;
    }
    .icon {
        font-size: 36px;
    }
    .text-rest {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: 30px;
    }
    .icon {
        font-size: 30px;
    }
    .text-rest {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .text {
        font-size: 24px;
    }
    .icon {
        font-size: 24px;
    }
    .text-rest {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .inner-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .captcha {
        transform: scale(.7) translateX(-21.5%);
    }
    .notice {
        font-size: 13px;
        margin-bottom: 0;
    }
    .captcha-notice {
        font-size: 13px;
    }
}