.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    max-height: 35%;
    margin: 1rem;
}

.type {
    font-size: 14px;
    font-weight: bold;
    font-family: "Red Hat Display", "sans-serif";
    text-align: center;
    color: rgb(50, 19, 122);
    margin-bottom: 0.5rem;
}

.input, .textbox, .zipcode, .phone-number {
    font-size: 16px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: gray;
    padding: 3px;
    outline: none;
    font-family: "Red Hat Display", "sans-serif";
    border-width: 1px;
    min-width: 50px;
    max-width: 600px;
}

.input, .phone-number {
    width: 85%;
}

.textbox {
    width: 100%;
    resize: vertical;
}

.zipcode {
    width: 20%;
}

.zipcode::-webkit-inner-spin-button,
.zipcode-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.phone-number::-webkit-inner-spin-button,
.phone-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.selected {
    border-color: rgb(50, 19, 122);
}

@media screen and (max-width: 768px) {
    .input, .phone-number {
        font-size: 14px;
    }
    .zipcode {
        width: 30%;
        font-size: 14px;
    }
    .textbox {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .input, .phone-number {
        width: 100%;
        font-size: 12px;
    }
    .zipcode {
        width: 40%;
        font-size: 12px;
    }
    .type {
        font-size: 13px;
    }
    .textbox {
        font-size: 12px;
    }
}