.container {
    position: relative;
    height: 100%;
    padding: 2rem;
    padding-right: 3rem;
    padding-left: 0;
    border: 3px solid white;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(50, 19, 122);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    transform: translateX(94%);  
    transition: transform 0.5s ease-in-out;
    pointer-events: auto;
}

.content {
    position: relative;
    height: 100%;
    max-width: 700px;
    background-color: rgb(50, 19, 122);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.content::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 15px;
}

.content::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 15px;
}

.locked {
    transform: translateX(0);
}

.locked .arrow {
    transform: rotate(90deg) translateX(-50%);
}

.container:hover {
    transform: translateX(0);
}

.container:hover .arrow {
    transform: rotate(90deg) translateX(-50%);
}

/* .close-container {
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    border-radius: 30px;
    margin: 0.5rem;
    border: none;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
} */

.arrow {
    color: white;
    font-size: 48px;
    user-select: none;
    transform: rotate(-90deg) translateX(50%);
}

/* .close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.close-icon:hover {
    color: lightblue;
} */

.lock-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 20%);
    font-size: 22px;
    cursor: pointer;
}

.lock-icon-locked {
    color: lightgreen;
}

.lock-icon-unlocked {
    color: white;
}

.inner-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(50% - 0.75rem);
    height: 100%;
}

.inner-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.description {
    font-size: 20px;
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.card {
    margin: 0.25rem;
    width: 100%;
    background-color: indigo;
    border-radius: 20px;
    padding: 0.25rem;
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px solid slateblue;
    box-sizing: border-box;
}

.name-container {
    margin: 0.25rem;
    margin-top: 0;
    width: 100%;
    min-height: 75px;
    background-color: indigo;
    border-radius: 20px;
    padding: 0.25rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px solid slateblue;
    box-sizing: border-box;
}

.name {
    /* font-size: calc(1.5vw + 1vh); */
    font-weight: bold;
    font-family: "Special Elite", cursive;
    text-align: center;
    align-self: center;
    padding-top: 5px;
    min-width: 300px;
    flex-grow: 1;
}

.stars {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-star {
    color: white;
    font-size: 30px;
    margin: 0;
    position: relative;
}

.inner-star {
    color: indigo;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* font-size: calc(.5vw + 0.5vh); */
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-grow: 1;
    /* font-size: calc(.5vw + 0.5vh); */
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
}

.rating {
    font-size: 24px;
    text-align: center;
    margin-right: 0.25rem;
}

.total-ratings {
    font-size: 20px;
    text-align: center;
    margin-left: 0.25rem;
}

.location-icon {
    font-size: 30px;
    color: white;
}

.phone-number {
    min-width: 15%;
    flex-grow: 1;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address {
    color: white;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
    color: royalblue;
}

.save-button {
    position: absolute;
    top: 3%;
    right: 6%;
    cursor: pointer;
    min-width: 30px;
    width: 10%;
    max-width: 60px;
    height: 30px;
    background-color: darkorange;
    border: 2px solid white;
    border-radius: 20px;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
}

.save-button:hover {
    background-color: orangered;
    border-color: lightblue;
    animation: pop-out 0.2s ease-out forwards;
}

.more-button {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: lightgreen;
}

.more-button:hover {
    text-decoration: underline;
}

.expand-left {
    animation: shift-left 0.15s ease-in-out forwards;
}

.expand-right {
    animation: shift-right 0.15s ease-in-out forwards;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}

@keyframes shift-left {
    0% {
        transform: translate(-50%, 85%);
      }
    50% {
        transform: translate(-50%, 40%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes shift-right {
    0% {
      transform: translate(-50%, 0%);
    }
    50% {
      transform: translate(-50%, 40%);
    }
    100% {
      transform: translate(-50%, 85%);
    }
}

@media screen and (max-width: 1500px) {
    /* .container {
        width:
    }
    .container:hover {
        transform: scale(.8) translateX(12.5%);
    } */

}

@media screen and (max-width: 1300px) {
    .stars {
        margin: 0;
    }
}

@media screen and (max-width: 1300px) {
    .outer-star {
        font-size: 24px;
    }
}

@media screen and (max-width: 1300px) {
    .inner-star {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    /* .container {
        transform: scale(.7) translateX(115.5%); 
    }
    .container:hover {
        transform: scale(.7) translateX(21.5%);
    }
    .locked {
        transform: scale(.7) translateX(21.5%);
    } */
}

/* @media screen and (max-width: 1024px) {
    .container {
        transform: scale(.6) translateX(126.5%); 
    }
    .container:hover {
        transform: scale(.6) translateX(33.5%);
    }
    .locked {
        transform: scale(.6) translateX(33.5%);
    }
} */

