.container {
    position: relative;
    height: 100%;
    padding: 2rem 0;
    padding-right: 1rem;
    border: 3px solid white;
    border-right: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(50, 19, 122);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    box-sizing: border-box;
    transform: translateX(94%);  
    transition: transform 0.5s ease-in-out;
    pointer-events: auto;
}

.content {
    height: 100%;
    overflow: hidden;
}

.padding {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    padding-right: 1rem; /* Create space for "scrollbar" */
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    border-radius: 15px;
}

.padding::-webkit-scrollbar {
    width: 7.5px;
    background-color: lightgray;
    border-radius: 15px;
}

.padding::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 15px;
}

.locked {
    transform: translateX(0);
}

.locked .arrow {
    transform: rotate(90deg) translateX(-50%);
}

.container:hover {
    transform: translateX(0);
}

.container:hover .arrow {
    transform: rotate(90deg) translateX(-50%);
}

.arrow {
    color: white;
    font-size: 48px;
    user-select: none;
    transform: rotate(-90deg) translateX(50%);
}

.lock-icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 20%);
    font-size: 22px;
    cursor: pointer;
}

.lock-icon-locked {
    color: lightgreen;
}

.lock-icon-unlocked {
    color: white;
}

.inner-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(50% - 0.25rem);
    height: 100%;
}

.inner-container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.inner-container-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.description {
    font-size: 18px;
    text-align: center;
    margin: 0.5rem 1.5rem;
    font-weight: bold;
}

.card {
    margin: 0.25rem;
    width: 100%;
    background-color: indigo;
    border-radius: 20px;
    padding: 0.25rem;
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 3px solid slateblue;
    box-sizing: border-box;
}

.name {
    font-weight: bold;
    font-family: "Special Elite", cursive;
    text-align: center;
    align-self: center;
    flex-grow: 1;
}

.stars {
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-star {
    color: white;
    font-size: 30px;
    margin: 0;
    position: relative;
}

.inner-star {
    color: indigo;
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-grow: 1;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
}

.rating {
    font-size: 24px;
    text-align: center;
    margin-right: 0.2rem;
}

.total-ratings {
    font-size: 20px;
    text-align: center;
    margin-left: 0.2rem;
}

.location-icon {
    font-size: 30px;
    color: white;
}

.phone-number {
    min-width: 15%;
    flex-grow: 1;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address {
    color: white;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
    color: royalblue;
}

.more-button {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    color: lightgreen;
}

.more-button:hover {
    text-decoration: underline;
}

.expand-left {
    animation: shift-left 0.15s ease-in-out forwards;
}

.expand-right {
    animation: shift-right 0.15s ease-in-out forwards;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1.1);
    }
}

@keyframes shift-left {
    0% {
        transform: translate(-50%, 85%);
      }
    50% {
        transform: translate(-50%, 40%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}

@keyframes shift-right {
    0% {
      transform: translate(-50%, 0%);
    }
    50% {
      transform: translate(-50%, 40%);
    }
    100% {
      transform: translate(-50%, 85%);
    }
}

@media screen and (max-width: 1500px) {
    .arrow {
        font-size: 36px;
    }
    .description {
        font-size: 14px;
    }
    .more-button {
        font-size: 16px;
    }
    .rating {
        font-size: 20px;
    }
    .total-ratings {
        font-size: 16px;
    }
    .stars {
        margin: 0;
    }
    .address {
        font-size: 14px;
    }
    .outer-star {
        font-size: 24px;
    }
    .inner-star {
        font-size: 18px;
    }
    .hours {
        font-size: 14px;
    }
}


@media screen and (max-width: 1200px) {
    .description {
        font-size: 12px;
    }
    .more-button {
        font-size: 14px;
    }
    .rating {
        font-size: 16px;
    }
    .total-ratings {
        font-size: 12px;
    }
    .stars {
        margin: 0;
    }
    .address {
        font-size: 12px;
    }
    .link {
        font-size: 12px;
    }
    .hours {
        font-size: 12px;
    }
}


@media screen and (max-width: 1024px) {
    .arrow {
        font-size: 30px;
    }
    .inner-container-4 {
        flex-direction: column;
    }
    .inner-container-2 {
        width: 100%;
    }
}

