.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
}

.ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul, .li {
    list-style-type: none;
}

.arrow-left {
    cursor: pointer;
    text-align: center;
}

.arrow-right {
    cursor: pointer;
    text-align: center;
    rotate: 180deg;
}

.empty {
    color: slateblue;
    animation: pop-in 0.1s ease-out forwards;
    cursor: default;
}

.nonempty {
    color: white;
    animation: pop-out 0.1s ease-out forwards;
}

.nonempty:hover {
    color: lightblue;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes pop-out {
    0% {
        scale: 100%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 200%;
    }
}

@keyframes pop-in {
    0% {
        scale: 200%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 100%;
    }
}

.image-switch {
    transition: transform 0.5s ease-in-out;
}

.image-switch.first {
    transform: translateX(0%);
}
  
.image-switch {
    transform: translateX(-100%);
}


@media screen and (max-width: 1500px) {
    .arrow-left {
        font-size: 20px;
    }
    .arrow-right {
        font-size: 20px;
    }
    .container {
        padding: 0 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .arrow-left {
        font-size: 16px;
    }
    .arrow-right {
        font-size: 16px;
    }
}

