.container {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem;
    box-sizing: border-box;
}

.review-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.review-container-inner {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.review {
    height: 100%;
    margin: 0.5rem 0.25rem;
    margin-bottom: 0;
    overflow-y: auto;
    font-size: 16px;
    font-weight: bold;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.review::-webkit-scrollbar {
    width: 0px;  /* For Chrome, Safari and Opera */
}

.date {
    text-align: center;
}

.arrow {
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.right {
    rotate: 180deg;
}

.empty {
    color: royalblue;
    animation: pop-in 0.1s ease-out forwards;
    cursor: default;
}

.nonempty {
    color: white;
    animation: pop-out 0.1s ease-out forwards;
}

.nonempty:hover {
    color: lightblue;
}

.stars {
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-star {
    color: white;
    font-size: 16px;
    margin: 0;
    position: relative;
}

.inner-star {
    color: indigo;
    font-size: 10px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes pop-out {
    0% {
        scale: 100%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 200%;
    }
}

@keyframes pop-in {
    0% {
        scale: 200%;
    }
    50% {
        scale: 150%;
    }
    100% {
        scale: 100%;
    }
}

@media screen and (max-width: 1500px) {
    .date {
        font-size: 14px;
    }
    .container {
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (max-width: 1500px) {
    .date {
        font-size: 12px;
    }
    .review {
        font-size: 14px;
    }
}

