.container {
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.inner-container {
    display: flex;
    justify-content: flex-start;
    
}

.destinations {
    pointer-events: none;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    font-family: "Red Hat Display", "sans-serif";
    min-width: 200px;
    width: 15%;
    max-width: 285px;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-left: 4.5rem;
}

.destinations::-webkit-scrollbar {
    width: 0px;  /* For Chrome, Safari and Opera */
}

.description {
    pointer-events: auto;
    height: calc(100vh - 13rem); /* change to desired proportional height */
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    top: calc((50vh - 50% + 9rem)); /* keep it vertically centered */
    right: 0; /* keep it horizontally centered */
    min-width: 400px;
    max-width: 850px;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.2s ease-out; /* optional - smooth transitions */
}

/* @media screen and (max-width: 1400px) {
    .description {
        height: calc(100% - 25rem);
        top: 15rem;
    }
} */

.filters {
    pointer-events: auto;
    height: calc(10% - 5rem);
    margin-top: 5rem;
    width: 100%;
    font-family: "Red Hat Display", "sans-serif";
    z-index: 10;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .destinations {
        width: 200px; 
        margin-left: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .destinations {
        width: 175px; 
        margin-left: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .destinations {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .destinations {
        height: calc(100vh - 8rem);
        margin-top: 8rem;
    } 
    .filters {
        height: calc(100vh - 8rem);
        margin-top: 8rem;
        overflow: hidden;
    }
}