.container {
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.inner-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.destinations {
    pointer-events: none;
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    font-family: "Red Hat Display", "sans-serif";
    min-width: 200px;
    width: 15%;
    max-width: 275px;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: transparent transparent; /* For Firefox */
    scrollbar-width: thin;
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    margin-left: 4.5rem;
}

.destinations::-webkit-scrollbar {
    width: 5px;  /* For Chrome, Safari and Opera */
}

.destinations::-webkit-scrollbar-thumb {
    background: transparent; /* For Chrome, Safari and Opera */
    border-radius: 20px;
}

.destinations:hover {
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.destinations:hover::-webkit-scrollbar-thumb {
    background-color: rgb(50, 19, 122);
}

.destinations::-webkit-scrollbar-track {
    background: transparent;
    margin: 1.5rem 0;
}

.description {
    pointer-events: auto;
    height: calc(100vh - 10rem);
    font-family: "Red Hat Display", "sans-serif";
    position: absolute;
    top: calc((50vh - 50% + 9rem));
    right: 0;
    width: 45vw;
    min-width: 450px;
    max-width: 800px;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

/* @media screen and (max-width: 1400px) {
    .description {
        height: calc(100% - 25rem);
        top: 15rem;
    }
} */

.filters {
    height: 50px;
    margin-top: 5.75rem;
    width: 100%;
    font-family: "Red Hat Display", "sans-serif";
    z-index: 10;
    pointer-events: none;
}

.toggle {
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 1700px) {
    /* .description {
        width: 700px;
    } */
}

@media screen and (max-width: 1500px) {
    /* .description {
        width: 550px;
    } */
}

@media screen and (max-width: 1200px) {
    .destinations {
        width: 200px; 
        margin-left: 3rem;
    }
    /* .description {
        width: 500px;
    } */
}

@media screen and (max-width: 1024px) {
    .destinations {
        width: 175px; 
        margin-left: 3rem;
    }
    /* .description {
        width: 450px;
    } */
}

@media screen and (max-width: 768px) {
    .destinations {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .destinations {
        height: calc(100vh - 8rem);
        margin-top: 8rem;
    } 
    .filters {
        height: calc(100vh - 8rem);
        margin-top: 8rem;
        overflow: hidden;
    }
}