.search-container {
    margin: 0.5rem;
    width: 50%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pop {
    animation: pop 0.2s ease-out forwards;
}

.search-inner {
    position: relative;
    display: flex; 
    width: 100%;
    align-items: center;
}

.search-inner input {
    height: 35px;
    font-size: 16px;
    padding: 3px;
    outline: none;
    width: 100%;
    border-radius: 35px;
    padding-right: 20%;
    border: none;
    font-family: "Red Hat Display", "sans-serif";
    padding-left: 35px;
    border: 2px solid white;
}

.search-inner input::placeholder {
    font-style: italic;
}

.search-inner.invalid input {
    border: 2px solid red;
}

.dropdown {
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 100%;
    font-family: "Red Hat Display", "sans-serif";
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    color: black;
}

.dropdown-row:hover {
    background-color: lightblue;
}

.location-icon {
    font-size: 30px;
    color: gray;
    z-index: 2;
    position: absolute;
    left: 4px; 
}

.close-icon {
    cursor: pointer;
    font-size: 20px;
    color: gray;
    z-index: 2;
    position: absolute;
    right: 0;
    padding-right: 4px;
}

.close-icon:hover {
    color:lightblue;
}

.tooltip {
    position: absolute;
    left: 50%;  
    bottom: 100%; 
    width: 75%;
    height: 125%;
    transform: translate(-50%, 175%);
    font-family: "Red Hat Display", "sans-serif";
    text-align: center;
    background-color: rgb(105, 105, 105);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    z-index: 99999999;
    border: none;
    pointer-events: none;
}

.visible {
    animation: fade-in 0.5s ease-in forwards, drop-down 0.25s ease-in-out forwards;
    
}

.invisible {
    animation: fade-out 0.5s ease-in forwards, drop-up 0.25s ease-in-out forwards;
    
}

.error-message {
    color: white;
    font-size: 24px;
    font-family: "Red Hat Display", "sans-serif";
    text-align: center;
}

.error-icon {
    font-size: 60px;
    color: white;
}

.error-outer-container {
    font-family: "Red Hat Display", "sans-serif";
    color: white;
    min-height: 150px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.error-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.475;
    }
    100% {
        opacity: 0.95;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0.95;
    }
    50% {
        opacity: 0.475;
    }
    100% {
        opacity: 0;
    }
}

@keyframes drop-down {
    0% {
      transform: translate(-50%, 175%);
    }
    50% {
      transform: translate(-50%, 200%);
    }
    100% {
      transform: translate(-50%, 225%);
    }
}

@keyframes drop-up {
    0% {
      transform: translate(-50%, 225%);
    }
    50% {
      transform: translate(-50%, 200%);
    }
    100% {
      transform: translate(-50%, 175%);
    }
}

@keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.025);
    }
    100% {
      transform: scale(1);
    }
}

@media screen and (max-width: 1200px) {
    .tooltip {
        font-size: 14px;
    }
    .error-message {
        font-size: 18px;
    }
    .error-icon {
        font-size: 48px;
    }
    .error-outer-container {
        font-size: 24px;
    }
    .oops {
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .error-message {
        font-size: 16px;
    }
    .error-icon {
        font-size: 36px;
    }
    .error-outer-container {
        font-size: 20px;
    }
    .oops {
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .error-message {
        font-size: 14px;
    }
    .error-icon {
        font-size: 24px;
    }
    .error-outer-container {
        font-size: 16px;
    }
    .oops {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .search-container {
        flex-grow: 1;
    }
    .search-inner input {
        font-size: 14px;
    }
    .tooltip {
        font-size: 12px;
    }
    .dropdown-row {
        font-size: 12px;
    }
    .error-message {
        font-size: 12px;
    }
    .error-icon {
        font-size: 20px;
    }
    .error-outer-container {
        font-size: 14px;
    }
    .oops {
        font-size: 20px;
    }
  }