.welcome-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", "sans-serif";
    min-height: 150px;
}

.welcome-container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-header {
    font-size: 48px;
}

.welcome-description {
    text-align: center;
    font-size: 22px;
}

.city-icon {
    font-size: 48px;
}

.mobile {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: "Red Hat Display", "sans-serif";
}

.mobile-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .welcome-header {
        font-size: 36px;
    }
    .city-icon {
        font-size: 36px;
    }
    .welcome-description {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .welcome-header {
        font-size: 24px;
    }
    .city-icon {
        font-size: 24px;
    }
    .welcome-description {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .welcome-header {
        font-size: 18px;
    }
    .city-icon {
        font-size: 18px;
    }
    .welcome-description {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .welcome-header {
        font-size: 16px;
    }
    .city-icon {
        font-size: 16px;
    }
    .welcome-description {
        font-size: 12px;
    }
}