.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.75);
}
  
.modal {
    position: fixed;
    width: 50%;
    min-width: 200px;
    max-width: 800px;
    border: 3px solid white;
    padding: 1rem;
    border-radius: 35px;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 100000;
    animation: slide-down 300ms ease-out forwards;
    background-color: rgb(50, 19, 122);
    color: white;
}

.close-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.close-icon:hover {
    color: lightblue;
}
  
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1024px) {
    .close-icon {
      font-size: 20px;
    }
}