.container {
    width: 100vw;
    height: calc(100% - 5rem);
    margin-top: 5rem;
    position: relative;
    background-image: url("../../pictures/eiffel-tower.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.inner-container {
    font-family: "Red Hat Display", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
}

.inner-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 3rem;
}

.inner-container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paragraph {
    text-align: center;
    width: 100%;
    font-size: 24px;
}

.right-paragraph {
    align-self: start;
    margin-left: 1rem;
    text-align: start;
    min-width: 50%;
    font-size: 24px;
}

.left-paragraph {
    align-self: start;
    margin-right: 1rem;
    text-align: end;
    min-width: 50%;
    font-size: 24px;
}

.heading {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: rgb(50, 19, 122);
    margin-bottom: 2rem;
}

.image-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    z-index: 10;
    font-weight: bold;
    font-family: "Red Hat Display", "sans-serif";
    color: white;
}

.picture {
    width: 1200px;
    margin: 1rem;
    margin-top: 0;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.notice {
    color: grey;
    margin: 1rem;
    text-align: center;
}

@media screen and (max-width: 1800px) {
    .paragraph {
        font-size: 22px;
    }
    .left-paragraph {
        font-size: 22px;
    }
    .right-paragraph {
        font-size: 22px;
    }
    .picture {
        width: 1000px;
    }
}

@media screen  and (max-width: 1500px) {
    .paragraph {
        font-size: 20px;
    }
    .left-paragraph {
        font-size: 20px;
        text-align: center;
        margin: 1rem;
    }
    .right-paragraph {
        font-size: 20px;
        text-align: center;
        margin: 1rem;
    }
    .inner-container-2 {
        max-width: 80%;
        margin: 1rem;
    }
    .inner-container-3 {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 768px) {
    .image-text {
        font-size: 48px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: calc(100% - 8rem);
        margin-top: 8rem;
    }
    .heading {
        font-size: 16px;
    }
    .paragraph {
        font-size: 12px;
    }
    .left-paragraph {
        font-size: 12px;
    }
    .right-paragraph {
        font-size: 12px;
    }
    .picture {
        width: 250px;
    }
    .image-text {
        top: 30%;
        font-size: 24px;
    }
    .image-container {
        height: 40vh;
    }
    .inner-container-2 {
        max-width: 100%;
        margin: 1rem;
    }
    .notice {
        font-size: 10px;
    }
}