.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5%;
    border-bottom: 2px solid white;
    z-index: 9999;
    box-sizing: border-box;
    background-color: rgb(50, 19, 122);
    font-family: "Red Hat Display", "sans-serif";
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.header.mobile {
  height: 8rem;
  flex-direction: column;
  justify-content: center;
}

.mobile-section {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

@keyframes pop-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1.2);
    }
}

h1 {
  margin: 0.5rem;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5rem;
}

h3 {
  margin: 1rem;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

h3:hover {
  animation: pop-out 0.2s ease-out forwards;
}


@media screen and (max-width: 1200px) {
    h3 {
      font-size: 16px;
      margin: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100px;
  }
  .header {
    padding: 0 2.5%;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    width: 100px;
  }
  .header {
    padding: 0 2.5%;
  }
}

.divide {
  margin: 1rem;
  height: 40px;
  border-color: white;
  border-width: 1px;
}

